ul.menu {
  float: left;
  width: 65%;
  li {
    float: left;
    width: 12%;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:nth-child(1) {
      animation-delay: 30ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
      animation-name: specialFadeIn;
    }
    &:nth-child(2) {
      animation-delay: 70ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
      animation-name: specialFadeIn;
    }
    &:nth-child(3) {
      animation-delay: 100ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
      animation-name: specialFadeIn;
    }
    &:nth-child(4) {
      animation-delay: 130ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
      animation-name: specialFadeIn;
    }
    &:nth-child(5) {
      animation-delay: 170ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
      animation-name: specialFadeIn;
    }
    &:nth-child(6) {
      animation-delay: 210ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
      animation-name: specialFadeIn;
    }
    &:nth-child(7) {
      animation-delay: 240ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
      animation-name: specialFadeIn;
    }
    &:nth-child(8) {
      animation-delay: 270ms;
      animation-duration: 400ms;
      animation-fill-mode: both;
      animation-name: specialFadeIn;
    }
    a {
      display: block;
      overflow: hidden;
      text-align: center;
      padding: 20px 0 19px;
      span {
        display: block;
        overflow: hidden;
        color: #fff;
        font-size: 14px;
        line-height: 21px;
      }
    }
    &.active a {
      background: #2d2d2d;
    }
  }
}
